<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Welcome</title>
</head>
<body>
    <h1>Sign In</h1>

    <form action="/users/signin" method="POST">

        <p>Username</p>
        <input id="username" name="username" type="text">

        <p>Password</p>
        <input name="pass" type="password">

        <button type="submit">Login</button>

    </form>
</body>
</html>